#overview .link-overview,
#get-started .link-get-started,
#add-to-apple-wallet-guidelines .link-add-to-apple-wallet-guidelines,
#resources .link-resources {
	color: rgba(51, 51, 51, 0.6);
	pointer-events: none;
}

.row-flex {
	display: flex;
}
.column-flex-center {
	align-self: center;
}

@media only screen and (max-width: 734px) {
	.row-flex {
		display: block;
	}
}

/* ========== Grid ========== */
#main section.section {
	padding-top: 4em;
	padding-bottom: 4em;
}
#main section .section-content .row {
	margin-left: 0;
	margin-right: 0;
}
#main section .section-content .row > .column {
	padding: 0;
}

@media only screen and (max-width: 1068px) {
	#main section .section-content .row {
		margin-left: 0;
		margin-right: 0;
	}
	#main section .section-content .row > .column {
		padding: 0;
	}
}

@media only screen and (max-width: 734px) {
	#main section.section {
		padding-top: 2em;
		padding-bottom: 2em;
	}
	#main section .section-content .row {
		margin-left: 0;
		margin-right: 0;
	}
	#main section .section-content .row > .column {
		padding: 1em 0;
	}
}
